<div class="ui menu sub-menu">
    <a class="item">User Information</a>
    <a class="register item" id="register"><i class="icon"></i>Register</a>
    <a class="view item" id="view"><i class="icon"></i>View</a>
    <a class="item"><i class="icon fa fa-edit"></i>Edit</a>
    <div class="item">
        <div class="ui left top pointing floating labeled icon dropdown button" id="filter" ng-model="filterText">

            <i class="filter icon"></i>
            <span class="text">Filter</span>
            <div class="menu">
                <div class="header">
                    <i class="tags icon"></i>
                    Filter by criteria
                </div>
                <div class="divider"></div>
                <div class="item" ng-repeat="filter in filters">
                    <i class="{{filter.icon}}"></i>{{filter.text}}
                </div>

            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui icon mini input">
            <input  id="search" class="typeahead" type="search" placeholder="Search Here..." ng-model="search"/>
            <i class="icon search"></i>
        </div>
    </div>
</div>
