<div class="ui right rail">
    <div class="ui segment">
        <div class="ui mini statistic" id="found">
            <div class="value">
                0
            </div>
            <div class="label">
                <i class="icon file text"></i>Records Found
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui mini statistic" id="total">
            <div class="value">
                0
            </div>
            <div class="label">
                <i class="icon database"></i>Total Records
            </div>
        </div>
    </div>
    <div class="ui segment">

        <div class="ui mini buttons">
            <div id="previous"class="ui labeled icon button">
                <i class="left chevron icon"></i>
                Previous
            </div>
            <div id="next"class="ui right labeled icon button">
                <i class="right chevron icon"></i>
                Next
            </div>
        </div>
    </div>
</div>
