<header>

</header>
<!-- Users Index.html -->
<nav class="ui inverted purple menu centered">
    <div href="" ui-sref="users" class="item">
    	<b>
    	<i class="icon ion-ios-people"></i>
    	Users
    	</b>
    	</div>
     <a is-active-nav class="item" ui-sref="users.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
    <a is-active-nav class="item" ui-sref="users.list"><i class="icon fa fa-list"></i>List Users</a>
    <a is-active-nav class="item" ui-sref="users.add"><i class="icon fa fa-plus"></i>Register Users</a>
</nav>
<div ui-view class="centered within"></div>