<slick class="full-screen">
 <!-- <div><img src="assets/images/meds/sa.jpg" alt=""></div> -->
 <div><img src="assets/images/meds/sb.jpg" alt=""></div>
 <div><img src="assets/images/meds/sc.jpg" alt=""></div>
 <div><img src="assets/images/meds/sd.jpg" alt=""></div>
 <div><img src="assets/images/meds/se.jpg" alt=""></div>
 <div><img src="assets/images/meds/sf.jpg" alt=""></div>
</slick>
<slick speed=300>

<form  class='ui form segment centered' ng-submit="login()" style="opacity:0.9">
    <h1 class="ui header">Login</h1>
    <div class="sixteen wide field">
        <div class="ui input left icon">
            <i class="icon ion-person"></i><input type="text" name="username" ng-model="formData.username" placeholder="Enter Username..."></div>
    </div>
    <div class="sixteen wide field">
        <div class="ui input left icon">
            <i class="icon ion-lock-combination"></i><input type="password" ng-model="formData.password" name="password" placeholder="Enter Password Here..."></div>
    </div>
    <button type="submit" class="ui icon green button"><i class='icon ion-log-in'></i>Login</button>
</form>
<div class="ui grid">
    <div class="four column row">
        <div class="left floated column">
            <img src="assets/images/meds/usaid.png" style="opacity:0.6;background:white;padding:1%" alt="" class="rounded bordered centered ui small image">
        </div>
        <div class="right floated column">
            <img src="assets/images/meds/meds-logo.png" style="opacity:0.6;background:white;padding:1%" alt="" class="rounded bordered centered ui image small">
        </div>
    </div>

</div>
