<div class="" style="position:absolute;top:0;width:100%;height:100%;background:#3b83c0">
    <form action="" class="ui form inverted centered">
        <div class="sixteen wide field">
            <img style="background:white;margin:auto" class="ui medium bordered  circular image" src="assets/bower_components/ionicons/png/512/ios7-person.png">
        </div>

        <div class="sixteen wide field">
            <label style="text-align:center">John Doe</label></div>
            <div class="fields">
                <div class="ten wide field">
                    <div class="ui input left icon">
                        <i class="icon ion-lock-combination"></i><input type="password" name="password" placeholder="Enter Password Here..."></div>
                    </div>
                    <div class="six wide field">
                    <button class="ui fluid button green"><i class="icon ion-log-in"></i>Return</button>
                    </div>
                </div>


            </form>
        </div>