<!-- Articles' List -->
<table class="ui table celled bordered" st-safe-src="rowCollection" st-table="displayedCollection">
    <thead>
        <tr>
            <th><i class="icon ion-document-text"></i>Title</th>
            <th><i class="icon fa fa-tags"></i>Tags</th>
            <th><i class="icon ion-person"></i>Author</th>
            <th><i class="icon calendar"></i>Date</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td class="ui input" ><input st-search="" placeholder="Search..." type="search"/></td>
            <td class="ui input" ><input st-search="" placeholder="Search..." type="search"/></td>
            <td class="ui input" ><input st-search="" placeholder="Search..." type="search"/></td>
            <td class="ui input" ><input st-search="" placeholder="Search..." type="search"/></td>
            <td></td>
        </tr>
        <tr ng-repeat="row in displayedCollection"  st-select-row="row">
            <td>{{row.memberNo}}</td>
            <td>{{row.memberName}}</td>
            <td>{{row.dob}}</td>
            <td>{{row.dob}}</td>
            <td>
                <button type="button" ng-click="r" class="ui blue tiny button icon">
                <i class="icon ion-more">
                </i>
                </button>
                <button type="button" ng-click="r" class="ui red tiny button icon">
                <i class="icon ion-minus-circled">
                </i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="1">{{articles.length}} Records</th>
        <th colspan="2">
            <div st-pagination="" st-items-by-page="recordsPerPage" st-displayed-pages="pages" class="text center"></div>
        </th>
    </tr>
    </tfoot>
</table>