<!-- Diocese Index -->
<nav class="ui inverted blue menu">
    <div href="" ui-sref="location.diocese" class="item">
    	<b>
    	<i class="icon building"></i>
    	Diocese
    	</b>
    	</div>
     <a is-active-nav class="item" ui-sref="location.diocese.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
    <a is-active-nav class="item" ui-sref="location.diocese.list"><i class="icon fa fa-list"></i>List Diocese</a>
    <a is-active-nav class="item" ui-sref="location.diocese.add"><i class="icon fa fa-plus"></i>Register Diocese</a>
</nav>
<div ui-view></div>