<!-- Parishes' List -->
<table class="ui table celled compact bordered" st-safe-src="rowCollection" st-table="displayedCollection">
  <thead>
    <tr>
      <th><i class="icon ion-person"></i>In Charge</th>
      <th><i class="icon fa fa-building"></i>Name</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td class="ui input" ><input st-search="'in_charge'" placeholder="Search..." type="search"/></td>
      <td class="ui input" ><input st-search="'location'" placeholder="Search..." type="search"/></td>

      <td></td>
    </tr>
    <tr ng-repeat="row in displayedCollection"  st-select-row="row">
      <td>{{row.in_charge}}</td>
      <td>{{row.name}}</td>
      <td width="150">
        <button type="button" ng-click="getDiocese(row)" class="ui blue tiny button icon">
          <i class="icon ion-more">
          </i>
        </button>
        <button type="button" ng-click="" class="ui red tiny button icon">
          <i class="icon ion-minus-circled">
          </i>
        </button>

      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="1">{{records}} Records</th>
      <th colspan="5">
        <div st-pagination="" st-items-by-page="recordsPerPage" st-displayed-pages="pages"></div>
      </th>
    </tr>
  </tfoot>
</table>
