<header>

</header>
<!--  -->
<div class="ui left">
  <div class="ui grid">
    <div class="column three wide">
      <div class="ui inverted blue vertical menu">
        <a is-active-nav ui-sref="location.archdioceses" class="item">Archdiocese<i class='icon chevron right'></i></a>
        <a is-active-nav ui-sref="location.dioceses" class="item">Dioceses<i class='icon chevron right'></i></a>
        <a is-active-nav ui-sref="location.deaneries" class="item">Deaneries<i class='icon chevron right'></i></a>
        <a is-active-nav ui-sref="location.parishes" class="item">Parishes<i class='icon chevron right'></i></a>
        <a is-active-nav ui-sref="location.members" class="item">Members<i class='icon chevron right'></i></a>
        <a is-active-nav ui-sref="location.services" class="item">Services<i class='icon chevron right'></i></a>
      </div>
    </div>
    <div class="column twelve wide">
      <div ui-view></div>
    </div>
  </div>
</div>

<style>
  .menu{
    right:10px;
  }
</style>