<!-- Parish Index -->
<nav class="ui inverted blue menu">
    <div href="" ui-sref="location.parish" class="item">
        <b>
            <i class="icon building"></i>
            Parishes
        </b>
    </div>
    <a is-active-nav class="item" ui-sref="location.parishes.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
    <a is-active-nav class="item" ui-sref="location.parishes.list"><i class="icon fa fa-list"></i>List Parishes</a>
    <a is-active-nav class="item" ui-sref="location.parishes.add"><i class="icon fa fa-plus"></i>Register Parish</a>
</nav>
<div ui-view></div>
