<form class='ui form segment'>
	<div class="fields">
		<div class="field eight wide">
			<div class="ui right icon field">
				<i class="icon"></i>
				<input placeholder="Service Name" type="text"/>
			</div>
		</div>
		<div class="field four wide">
			<div class="ui right icon field">
				<i class="icon"></i>
				<input placeholder="Service Type" type="text"/>
			</div>
		</div>
		<div class="field four wide">
			<div class="ui right icon field">
				<i class="icon"></i>
				<input placeholder="Service Type" type="text"/>
			</div>
		</div>
	</div>
	<div class="fields">
		<div class="field eight wide">
			<div class="ui right icon field">
				<i class="icon"></i>
				<input placeholder="Tags..." type="text"/>
			</div>
		</div>
		<div class="field eight wide">
			<div class="ui right icon field">
				<i class="icon"></i>
				<input placeholder="Date..." type="text"/>
			</div>
		</div>
	</div>
	<div class="fields">
		<div class="field eight wide">
			<div class="ui right icon field">
				<i class="icon"></i>
				<input placeholder="Text..." type="text"/>
			</div>
		</div>
		<div class="field eight wide">
			<div class="ui right icon field">
				<i class="icon"></i>
				<input placeholder="Text..." type="text"/>
			</div>
		</div>
	</div>
	<button class="ui green right icon button">Register<i class="icon icon fa fa-plus"></i></button>
</form>
