<!-- Services Index -->
<nav class="ui inverted blue menu">
  <div href="" ui-sref="location.services" class="item">
    <b>
      <i class="icon book"></i>
      Services
    </b>
  </div>
  <a is-active-nav class="item" ui-sref="location.services.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
  <a is-active-nav class="item" ui-sref="location.services.list"><i class="icon fa fa-list"></i>List Services</a>
  <a is-active-nav class="item" ui-sref="location.services.add"><i class="icon fa fa-plus"></i>Register Services</a>
</nav>
<div ui-view></div>
