<div class="ui grid">
    <div class="twelve wide column">

        <form class="ui form ui segment" id="memberForm" action="" method="post">
            <div class="fields">
                <div class="field eight wide required"><label>Member No.</label><input name="memberNo" id="memberNo" type="text" ng-model="members.memberNo"></input></div>
            <div class="field eight wide required"><label>Member Name</label><input name="memberName" id="memberName" type="text" ng-model="members.memberName"></input></div>
    </div>
    <div class="fields">
        <div class="field four wide required"><label>Date of Birth</label><input name="dob" id="dob" type="text" ng-model="members.dob"></input></div>
    <div class="field four wide required"><label>ID No.</label><input name="idNo" id="idNo" type="text" ng-model="members.idNo"></input></div>
<div class="field eight wide required"><label>Scheme Name</label><input name="schemeName" id="schemeName" type="text" ng-model="members.schemeName"></input></div>
</div>
<div class="fields">
    <div class="field eight wide required"><label>Employee No.</label><input name="employeeNo" id="employeeNo" type="text" ng-model="members.employeeNo"></input></div>
<div class="field four wide required"><label>NSSF No.</label><input name="nssfNo" id="nssfNo" type="text" ng-model="members.nssfNo"></input></div>
<div class="field four wide required"><label>NHIF No.</label><input name="nhifNo" id="nhifNo" type="text" ng-model="members.nhifNo"></input></div>
</div>
<div class="fields">
    <div class="field eight wide required"><label>PIN</label><input name="pin" id="pin" type="text" ng-model="members.pin"></input></div>
<div class="field four wide required"><label>Inpatient</label><input name="inPatient" id="inPatient" type="text" ng-model="members.inPatient"></input></div>
<div class="field four wide required"><label>Outpatient</label><input name="outPatient" id="outPatient" type="text" ng-model="members.outPatient"></input></div>
</div>

<div class="three fields">
    <div class="field required"><label>Dental</label><input name="dental" id="dental" type="text" ng-model="members.dental"></input></div>
<div class="field required"><label>Optical</label><input name="optical" id="optical"  type="text" ng-model="members.optical"></input></div>
<div class="field required"><label>Maternity</label><input name="maternity" id="maternity" type="text" ng-model="members.maternity"></input></div>
<button class="ui button right green icon"><i class="icon ion-plus-round"></i>Register</button>
</div>
<div class="ui error message"></div>
</form>

</div>
<div class="four wide column">
    <div class="ui segment">
        <div class="ui statistic" id="total">
            <div class="value">
                {{records}}
            </div>
            <div class="label">
                <i class="icon database"></i>Total Records
            </div>
        </div>
    </div>
</div>

<script charset="utf-8" src="assets/javascripts/members.js"></script>
<script>

    $(document).ready(function(){
        $('.ui.dropdown').dropdown();
        /**
        * New Instance of Member Object
        */
        var member = new members();
        member.validate();

        $("#memberForm").submit(function(){
            var formdata = $(this).serialize();
            member.create(base_url,formdata);
        });
    });
</script>
