<header>

</header>
<!-- Users Index.html -->
<nav class="ui inverted blue menu centered">
    <div href="" ui-sref="clients" class="item">
    	<b>
    	<i class="icon fa fa-building"></i>
    	Clients
    	</b>
    </div>
    <a is-active-nav class="item" ui-sref="clients.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
    <a is-active-nav class="item" ui-sref="clients.list"><i class="icon fa fa-list"></i>List Clients</a>
    <a is-active-nav class="item" ui-sref="clients.add"><i class="icon fa fa-plus"></i>Register Client</a>
</nav>
<div ui-view class="centered within"></div>