<form action="" class='ui form segment'>
<h1 class="ui header">Publish Article</h1>
    <div class="sixteen wide field">
        <div class="ui input left icon">
            <i class="icon ion-document-text"></i><input type="text" name="username" placeholder="Enter Title..."></div>
        </div>
        <div class="sixteen wide field">

           <div text-angular ng-model="htmlVariable"></div>
            </div>
            <div class="sixteen wide field">
        <div class="ui input left icon">
            <i class="icon fa fa-tag"></i><input type="text" name="username" placeholder="Enter Tags..."></div>
        </div>
            <button class="ui icon green button"><i class='icon ion-plus-round'></i>Publish</button>
</form>