<title>{{title}}</title>

<link rel="stylesheet" href="libs/webfont-opensans/css/stylesheet.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="libs/ionicons/css/ionicons.css">
<link rel="stylesheet" href="dist/styles.css">
<link rel="stylesheet" href="libs/semantic-ui/dist/semantic.css">
<link rel="stylesheet" href="libs/ionicons/css/ionicons.css" media="screen" title="no title" charset="utf-8">
<link rel='stylesheet' href='libs/textAngular/src/textAngular.css'>
<link rel='stylesheet' href='libs/slick-carousel/slick/slick.css'>

