<div class="item">
    <h3><i class="icon ion-android-menu"></i>Menu</h3>
</div>
<div class="item">
    <a is-active-nav href="" class="item" ui-sref="dashboard">
        Dashboard
        <i class="icon ion-arrow-graph-up-right"></i>
    </a>
</div>
<div class="item">
    <a is-active-nav href="" class="item" ui-sref="tests">
        Tests
        <i class="icon ion-beaker"></i>
    </a>
</div>
<div class="item">
    <a is-active-nav href="" class="item" ui-sref="users">
        User Management
        <i class="icon ion-person"></i>
    </a>
</div>
<div class="item">
    <a is-active-nav href="" class="item" ui-sref="clients">
        Clients
        <i class="icon fa fa-building"></i>
    </a>
</div>

