<div class="item">
    <a is-active-nav href="" class="item" ui-sref="dashboard">
        Dashboard
        <i class="icon ion-arrow-graph-up-right"></i>
    </a>
</div>
<div class="item">
    Diocese Management
    <div class="menu">
        <a ui-sref="overview" href=" " class="item">Overview</a>
        <a ui-sref="location" href=" " class="item">Location</a>
        <a ui-sref="staff" href=" " class="item">Staff</a>
    </div>
</div>
<div class="item">
    <a is-active-nav href="" class="item" ui-sref="users">
        User Management
        <i class="icon ion-person"></i>
    </a>
</div>

